@font-face{
font-family:"terminal";
src:url("/fonts/SGK075.ttf") format("truetype");
}

body {
  margin: 0;
  background: #020402;
  font-family: "terminal", monospace;
  color: #33ff33;
  font-size: 39px;
}

.terminal {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #33ff33;
  box-shadow: 0 0 20px #33ff33;
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  text-shadow:0 0 4px #33ff33;
}

.terminal::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,0,0.03),
    rgba(0,255,0,0.03) 1px,
    transparent 1px,
    transparent 3px
  );
  pointer-events: none;
}

#login {
  font-size: 70px;
  text-align: center;
}

.linea {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.linea-centro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .linea-centro span {
  margin-top: 0px;
  font-size: 70px;
}

#login .linea-centro input {
  width: 70%;
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
}

input {
  background: transparent;
  border: none;
  color: #33ff33;
  font-family: inherit;
  font-size: 51px;
  outline: none;
}

.error {
  text-shadow:0 0 4px red;
  color: red;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  font-size: 70px;
  margin-bottom: 0px;
}

.submitOculto {
  display: none;
}

/* SISTEMA */
#sistema {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#saludo {
  font-size: 55px;
}

/* CHAT */
.visorCapitulo {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#mensajes {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#opciones {
  padding: 15px;
  background: #020402;
  flex-shrink: 0; /* evita que se mueva */
}

.terminal.activo #opciones {
  border-top: 1px solid #33ff33;
}

.chat {
  background: #020402;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* clave para que el scroll funcione */
}

.mensajeSistema{
  color:#33ff33;
  font-size:37px;
  max-width:80%;
  padding:2px 14px;
}

.fechaCapitulo {
  color: #7aff7a;
  text-align: center;
  font-size: 24px;
  margin: 12px 0;
  opacity: 0.8;
}

.mensajeJugador{
  color:#85ff85;
  font-size:37px;
  text-align:right;
  align-self:flex-end;
  max-width:80%;
  padding:2px 14px;
}

.mensajeSistema,
.mensajeJugador{
  animation: aparecer 0.4s ease;
}

@keyframes aparecer{
  from{
    opacity:0;
    transform:translateY(10px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

#opciones button {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  font-size: 37px;
  padding: 12px;
}

button {
  background: transparent;
  border: 1px solid #33ff33;
  color: #33ff33;
  padding: 10px;
  font-family: inherit;
  font-size: 33px;
  cursor: pointer;
}

button:hover{
  background:#33ff33;
  color:#020402;
  box-shadow:0 0 8px #33ff33;
}

.oculto {
  display: none;
}

#mensajes::-webkit-scrollbar {
  width: 6px;
}

#mensajes::-webkit-scrollbar-thumb {
  background: #33ff33;
}
.cursor::after{
  content: "_";
  animation: parpadeo 1s infinite;
}

@keyframes parpadeo{
  0%{opacity:1}
  50%{opacity:0}
  100%{opacity:1}
}

.inputNombre {
  width: 100%;
  background: transparent;
  border: 1px solid #33ff33;
  color: #33ff33;
  font-family: inherit;
  font-size: 24px;
  padding: 10px;
  outline: none;
}
